body {
	background: #12191a;
	color: #e9e9e9;
	font-family: "TT Norms", Gotham, "Avenir Next", Avenir, sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	margin: 1%;
	padding: 5%;
	text-align: center;
}

body {
	background: #f9f8f5;
	color: #4d3757;
}

body {
	background: #43077e;
	background: #130026;
	color: #eaebe1;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	letter-spacing: .05em;
	line-height: .9;
	margin: 3em auto 1em;
text-shadow: 0 0 .3em rgba(255,255,255,.35);
	text-transform: uppercase;
}



body {
	font-weight: 400;

}

h1 {
	font-size: 16.8vw;
	font-size: 25vw;
	letter-spacing: -.05em;
	margin: 0;
	text-align: left;
	text-shadow: -.5em 5em 0 rgba(255,255,255,.3);
}

h1::after,
h1::before {
	color: #ccc;
	color: #6e5d75;
	content: attr(data-content);
	display: block;
	font-weight: 200;
	margin-left: -2em;
}

h1::after {
	margin-left: -4em;
}

h2 {
	color: rgba(153, 153, 153, 0.53);
	font-size: 4vw;
	font-weight: 500;
	letter-spacing: .03em;
	text-transform: uppercase;
}

p {
	color: rgba(102, 102, 102, 0.49);
	font-size: 10vw;
}

h2 + p {
	font-size: 2.3vw;
	margin-top: -.75em;
}